
.tooth_button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Tooth image container */
.tooth_selection {
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 16 columns for first 16 images */
    grid-gap: 10px; /* Adjust spacing as needed */
    justify-content: space-between;
}

/* Media query for responsive wrapping after 16 images */
@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .tooth_selection {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive layout */
    }
}

/* Tooth button styles */
.tooth_button img {
    max-width: 100%;
    max-height: 80px; /* Adjust height as needed */
    object-fit: cover; /* Ensure image fills button without distortion */
}

.tooth_selection img {
    transition: transform 0.5s ease; /* Smooth hover image scaling */
}

/* Hover effect for unselected teeth */
.tooth_button:hover:not(.selected) {
    transform: scale(1.05); /* Slight scale on hover */
}
/* Selected tooth style */
.tooth_button.selected {
    color: white;
    transform: none;
    border-bottom: 6px solid #7c7bad52;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Completed tooth style */
.tooth_button.completed {
    border-bottom: 6px solid #4caf5087;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

/* In-progress tooth style */
.tooth_button.in-progress {
    border-bottom: 6px solid #ffa50078;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.modal-lg{

    max-width: 70% !important;
}
